@layer base {
    * {
        @apply border-border;
    }
    html {
        font-family: General Sans, system-ui, sans-serif;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* Global Styles */
* {
    box-sizing: border-box;
}

html {
    font-family: 'General Sans', system-ui, sans-serif;
}

body {
    border: 1px solid black;
    margin: 0;
}

/* Navbar Styles */
.topnav {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    border-bottom: 3px solid black;
    width: 150vh;
    margin: 0 auto;
}

.topnav a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    color: black;
}

header {
    font-weight: bolder;
    font-size: 30vh;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .topnav {
        width: max-content;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; /* Add this line for better spacing */
    }

    .topnav a {
        text-align: center;
        margin: 0px;
        padding: 3px 10px; /* Adjust padding for better spacing */
    }

    header {
        font-size: 7vh; /* Adjust the font size for smaller screens */
    }
}
.brand{
    float: left;
}

